
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.header{
  background-image: linear-gradient(to left, #f857a6, #ff5858);
  max-height: 580px;
  overflow: hidden;
}
.NavBar{
  background-image: linear-gradient(to left, #f857a6, #ff5858);
  
  margin-bottom: 14px; 
}
.main {
  padding: 9% 10% !important;
  color: aliceblue;
   
}

.taglist {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
    padding: 10px;
     border: 1px solid rgba(255,255,255,0.2);
    margin: 3px;
}
.tag::before {
  content: "• ";
}
.tag:hover{
  color: #33001b;
  background-color: aliceblue;
  cursor: pointer;
}
#prt2Root{
  background-image: linear-gradient(to left, #ff0084, #33001b);
  color: aliceblue;
}